# Get this from @BotFather
TELEGRAM_BOT_TOKEN=8840856279:AAEqCN30TvYkaQs-jyUztOk-tJng5s3Ky34

NVIDIA_API_KEY=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
# Optional: job search provider (Adzuna is free-tier friendly)
# https://developer.adzuna.com/
ADZUNA_APP_ID=edae66d2
ADZUNA_APP_KEY=b12592e51aea772fdc910bb7d6cc2063

# SQLite file path (swap for a Postgres URL later)
DATABASE_PATH=bot_data.db